@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}
section{
    width: 1200px;
    margin: 0 auto;
}
h2{
    text-align: center;
    font-weight: 400;
    color: #757576;
}
.search-type-display-hp{
    display: none;
}
.search-type-display-email{
    display: none;
}

.search-idpw-title{
    width: 250px;
    height:50px;
    margin:50px auto;
    line-height: 50px;
}

.search-wrap{
    width: 100%;
    padding:30px 20px;
    margin:0 auto;
    background-color: #fff;
    font-size: 14px;
}
.search-tab{
    width: 800px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
   
}
.search-tab-ul{
    list-style: none;
    display: flex;
}
.search-tab .search-current{
    display: inline-block;
    width: 400px;
    height: 50px;
}
.search-current a{
    text-decoration: none;
    color: #202020;
}
.id-search-wrap{
    margin: 0 auto;
    width: 800px;
}
.search-wrap .id-search-wrap .id-search-notice{
    padding: 15px 0;
}
.search-wrap .id-search-wrap .id-search-notice span{
    font-size: 13px;
    color: #aaa;
}
.id-search-wrap .search-type ul{
    list-style: none;
}
.id-search-wrap .search-type .type-list-current{
    border-bottom: 1px solid rgb(241,196,15);
}
.search-wrap .id-search-wrap .search-type .search-title button{
    width: 800px;
    padding: 15px 0;
    text-align: left;
    font-size: 15px;
    color: #202020;
    background-color: #fff;
    border: none;
}
.search-wrap button{
    margin: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.search-type .type-list-current .inputEnter{
    padding: 5px 0 15px;
}
.search-wrap .id-search-wrap .search-type .type-list-current .inputEnter .styleInput{
    margin-bottom: 10px;
}
.search-wrap .styleInput{
    position: relative;
    display: inline-block;
    width: 800px;
    vertical-align: center;
    line-height: 0;
}
.search-wrap .styleInput .input1{
    width: 800px;
    height: 35px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px;
    color: #202020;
}
.search-wrap .emailInput .styleInput{
    display: inline-block;
    width: 300px;
    vertical-align: center;
    line-height: 0;
}
.search-wrap .styleInput .inputE{
    width: 300px;
    height: 35px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px;
    color: #202020;
    display: inline-block;
}
.search-wrap .emailInput .styleInput-id{
    display: inline-block;
    vertical-align: center;
    line-height: 0;
}
.emailInput-id{
    margin-top: 5px;
    display: flex;
    margin-bottom: 15px;
}
.emaillinep-id{
    text-align: center;
    height: 35px;
    width: 35px;
    line-height: 35px;
    color: rgb(117 117 117);
}
.search-wrap .styleInput-id .inputE-id{
    width: 400px;
    height: 35px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px;
    color: #202020;
}
.search-wrap .userSelect-id select{
    width: 370px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: rgb(117 117 117);
}
.emaillinep{
    text-align: center;
    height: 35px;
    width: 35px;
    line-height: 35px;
    color: rgb(117 117 117);
}
.search-wrap .codesendInput button{
    margin-left: 5px;
    width: 220px;
    height: 35px;
    background-color: rgb(241, 196, 15);
    line-height: 32px;
    border-radius: 2px;
    border: 1px solid rgb(241, 196, 15);
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.search-wrap .styleInput .delBtn{
    position: absolute;
    top: 9px;
    right: 11px;
    z-index: 2;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background: url() no-repeat center center #fff;
    outline: 0;
    cursor: pointer;
}
.search-wrap .btnYellow{
    display: block;
    background-color: rgb(241, 196, 15);
    width: 800px;
    height: 35px;
    line-height: 32px;
    border-radius: 2px;
    border: 1px solid rgb(241, 196, 15);
    text-align: center;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}
.search-wrap .id-search-wrap .inputEnter .emailInput{
    margin-top: 10px;
    display: flex;
    margin-bottom:10px;
}
.search-wrap .id-search-wrap .search-type .emailInput .userSelect{
    width: 300px;
    height: 35px;
}
.search-wrap .userSelect{
    z-index: 4;
    cursor: pointer;
}
.search-wrap .userSelect select{
    width: 250px;
    height: 35px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: rgb(117 117 117);
}
.search-wrap .codenumInput .inputC{
    width: 500px;
    height: 35px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px;
    color: #202020;
    display: inline-block;
  
}

.search-wrap .codenumInput .codebtn{
    margin-left: 10px;
    width: 170px;
    height: 35px;
    background-color: rgb(241, 196, 15);
    line-height: 32px;
    border-radius: 2px;
    border: 1px solid rgb(241, 196, 15);
    text-align: center;
    font-size: 15px;
    color: #fff;
  
}
.codenumInput{
	height:35px;
    margin-bottom: 15px;
    display: flex;
    display: none;
    align-items: center;
}
.search-wrap .codenumInput #code-timer{
	display: inline-block;
    width: 100px;
    height: 35px;
    background-color: #ffffff;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    color: #black;
    margin-left: 10px;
    justify-content: center;
}



/* error*/
.search-wrap .error{
    width: 900px;
    height: 35px;
    text-align: left;
    display: block;
    color: rgb(225, 0 ,0);
    font-size: 12px;
    margin-top: 10px;
}
.search-wrap .error p{
    color: rgb(255, 0, 0);
    font-size: 12px;
}

.arrow-dropdown-hp{
    background-image: url(../../images/style/arrow-drop-down.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: right center;
}
.arrow-dropdown-email{
    background-image: url(../../images/style/arrow-drop-down.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: right center;
}